@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Satoshi-Variable','system-ui';
}

.satoshi{
  font-family: 'Satoshi-VariableItalic';
}

::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-track {
    background: black; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #121212; 

  }


*::selection{
    color: rgb(192, 240, 149);
}

.blob{
  background-image: url('../src//public/me.png');
}

.backGround, .backGround1, .backGround2 {
  background-attachment: fixed; 
  background-position: center;
  transition: background-image 0.5s ease-in-out; /* Smooth transition for background image */
}

.backGround {
  background-image: url('../src/public/bg2.png');
}

.backGround1 {
  background-image: url('../src/public/bg1.png');
}

.backGround2 {
  background-image: url('../src/public/bg3.png');
}


.resume {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.resume::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: black;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.resume:hover::before {
  transform: scaleY(0);
}

.resume::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: black;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.resume:hover::after {
  transform: scaleX(0);
}

.resume span {
  position: relative;
  z-index: 3;
}

@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}

.timeline {
  position: relative;
  margin: 20px 0;
}

.step {
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .step::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}

.step:first-child::before {
  left: 50%;
}

.step:last-child::before {
  width: 50%;
}

.step-label {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

.step.active .step-label {
  background-color: #035AC5;
  transform: scale(1.1);
}

.content {
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  display: none;
}

/* Skillset.css */
@keyframes skill-bar-animation {
  from {
    width: 0;
    opacity: 0;
    scale: 0.25;
  }
  to {
    width: var(--bar-width);
    opacity: 1;
    scale: 1;

  }
}

.skill-bar-fill {
  animation: skill-bar-animation 2s ease-in-out forwards;
}
